<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

    <connectionStrings>
	    <add name="RegiConnectionString" connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=voting_system;Integrated Security=True;Connect Timeout=30;Encrypt=False;" providerName="System.Data.SqlClient"
			 />
    </connectionStrings>

</configuration>
